actividadesXSD/actividad1/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="etiqueta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre"/>
                <xs:element name="calle"/>
                <xs:element name="ciudad"/>
                <xs:element name="pais"/>
                <xs:element name="codigo"/>
                <xs:element name="matriculado">
                    <xs:complexType></xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>