actividadesXSD/actividad1/ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mensaje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="de"/>
                <xs:element name="para"/>
                <xs:element name="asunto"/>
                <xs:element name="contenido"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>