XSD/07-modelos-all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="coleccion">
        <xs:complexType>
            <xs:all>
                <xs:element name="libro" type="xs:string"/>
                <xs:element name="disco" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>