XSD/09-modelos-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="novela">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="prefacio" type="xs:string"/>
                    <xs:element name="prologo" type="xs:string"/>
                </xs:choice>
                <xs:element name="cuerpo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>