XSD/19-complex-content-3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    


    <xs:complexType name="tipo-libro">
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="titulo" type="xs:string" use="required"/>
    </xs:complexType>



    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" maxOccurs="unbounded" type="tipo-libro"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>